button {
  width: 386px;
  height: 34px
}
.center-container {
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
      /* Set container height to viewport height */
}
.text{
  font:20px;
}
#text{
  font-size: 15px;
}
.checkmark-text{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.home-link {
  width: '386px';
  border-radius: 6px;
  height: '34px'; 
  background: var(--color-primary);
  color: var(--color-secondary);
  border: 1px solid var(--color-primary);
}

.home-link:hover{
  cursor: pointer;
  background: white;
  color: var(--color-primary);
  .home-img {
    filter: invert(19%) sepia(34%) saturate(4938%) hue-rotate(188deg) brightness(43%) contrast(101%);
  }
}