.infoModalScreen-container {
    border: 2px solid red;
    position: absolute;
    // pointer-events: none;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    background: rgba(217, 216, 216, 0.591);
    z-index: 5;
}

.infoModalScreen-info-container {
    border: 2px solid red;
}