$height: 60px;

.navigation {
    height: $height;
    background-color: #FFF;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px 5px 25px;
    z-index: 1;
}

.navigation-background {
    height: $height;
    width: 100%;
}

.navigation-left-container {
    // border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;

}
// .navigation-right-container {
//     border: 2px solid red;
// }

.navigation-login {
    border: 1px solid var(--color-primary);
    height: 27px;
    width: 79px;
    line-height: 27px;
    border-radius: 6px; 
    font-size: 14px;
    background: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    padding: 5px;
}

.navigation-login:hover {
    cursor: pointer;
    background: var(--color-secondary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}


.navigation-menu-container {
    border: 2px solid grey;
    width: 150px;
    // height: 100px;
    padding: 5px 0 5px 0;
    z-index: 1;
    position: absolute;
    left: 0px;
    background: white;
    display: flex;
    flex-direction: column;
}


.navigation-menu-item-linked {
    color: black;
} 

.navigation-menu-item-linked:hover {
    cursor: pointer;
    color: blue
}
