$height: 60px;

.navigation {
    height: $height;
    background-color: blue;
    box-shadow: 0px 5px 5px rgb(171, 171, 171);
    position: absolute;
    width: 100vw;
}

.navigation-background {
    height: $height;
    width: 100%;
}