* {
  margin: 0;
  padding: 0;
  // border: 0;
  // outline: 0;
  // list-style: none;
  // text-decoration: none;
}

:root {
  --color-primary: #004B82;
  --color-secondary: #FFF9F9;
  --background-color: #ECEEEF;
  --background-color-secondary: #F5F5F5;
}

body {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
